.alive {
    background-color: burlywood;
}

.dead {
    background-color: steelblue;
}

.die {
    background-color: #E9C393;
}

.spawn {
    background-color: #5189B9;
}

.grid-col {
    border: 2px;
}

body {
    margin-top: 20px;
}

input {
    width: 4em;
}

h3 {
    margin-top: 0.3em;
}
