<div class="wide-column"> 
	<div id="grid"> 

		<style>
			div.cell {
				display: inline-block;
				width: {{settings.cellSize}}px;
				height: {{settings.cellSize}}px;
				font-size: {{settings.cellSize*0.6}}pt;
			}
			div.grid-row {
				height: {{settings.cellSize}}px;
			}
		</style>


    <div class="grid-row" ng-repeat="row in grid.cells">
        <div class="cell" 
            ng-repeat="cell in row" 
						ng-class='cell.display.alive ? "alive" : "dead"'
            ng-click="cellClick(cell)"
            >{{settings.displayNeighbors ? cell.display.neighbors : ""}}
        </div>
    </div>
	</div>
	<p class="hint">Click a cell to toggle its state at any time</p>

</div>

<div id="controls" class="narrow-column">
    <div class="row form-group">
			<table class="time">
				<tr>
					<th colspan="3">Frame drawing time in ms (FPS)</th>
				</tr>
				<tr>
					<th></th>
					<th id="clock.sampleSize" colspan="2">sample {{clock.sampleSize}} frames</th>
				</tr>
				<tr>
					<th>current</th>
					<th>worst</th>
					<th>average</th>
				</tr>
				<tr>
					<td id='clock.frame'>{{times.frame}} ({{fps.frame}})</td>
					<td id='clock.worst'>{{times.worst}} ({{fps.worst}})</td>
					<td id='clock.average'>{{times.average}} ({{fps.average}})</td>
				</tr>
			</table>
    </div>

    <div class="row form-group">
        <h3>Pattern</h3>
        <button ng-click="random()">random</button>
        <button ng-click="blank()">blank</button>
        <button ng-click="gosper()">Gosper</button>
        <button ng-click="pulsar()">Pulsar</button>
    </div>

    <div class="row form-group">
        <h3>Evolution</h3>
        <p class="info">tick #{{life.numTicks}}</p>
        <button ng-click="stepBack()"> &lt; 
            <span class="info">{{life.historyStatus().back}} </span> 
        </button>
        <button ng-click="startStop()">{{timer ? "&#9647;" : "&#9655;" }}</button>
        <button ng-click="stepForward()"> &gt; </button>
    </div>

    <div class="row form-group">
        <h3>Speed</h3>
				<p>
					<input type="number" 
							ng-change="speedChange()"
							ng-model="settings.delay" required />delay (msec)
				</p>
    </div>

    <div class="row form-group">
        <h3>Size</h3>
        <p>
            <button ng-click="grid.delRow()">-</button>
            {{life.grid.y}} Rows
            <button ng-click="grid.addRow()">+</button>
        </p>
        <p>
            <button ng-click="grid.delCol()">-</button>
            {{life.grid.x}} Columns
            <button ng-click="grid.addCol()">+</button>
        </p>
        <p>
            Cell size <input type="number" ng-model="settings.cellSize" min="5" max="50" required />px
        </p>
    </div>

    <div class="row form-group">
        <input type="checkbox" ng-model="settings.displayNeighbors">
        Display number of neighbours
    </div>


</div>
