<div id="grid" class="wide-column"> 

	<style>
		div.cell {
			display: inline-block;
			width: {{settings.cellSize}}px;
			height: {{settings.cellSize}}px;
			font-size: {{settings.cellSize*0.6}}pt;
		}
		div.grid-row {
			height: {{settings.cellSize}}px;
		}
	</style>


    <div class="grid-row" ng-repeat="row in grid.cells">
        <div class="cell" 
            ng-repeat="cell in row" 
						ng-class='cell.display.alive ? "alive" : "dead"'
            ng-click="cellClick(cell)"
            >{{settings.displayNeighbors ? cell.display.neighbors : ""}}
        </div>
    </div>
</div>

<div id="controls" class="narrow-column">
	<p class="hint">Click a cell to toggle its state at any time</p>

    <div class="row form-group">
        <h3>Pattern</h3>
        <button ng-click="random()">random</button>
        <button ng-click="blank()">blank</button>
        <button ng-click="gosper()">Gosper</button>
        <button ng-click="pulsar()">Pulsar</button>
    </div>

    <div class="row form-group">
        <h3>Evolution</h3>
        <p class="info">tick #{{life.numTicks}}</p>
        <button ng-click="stepBack()"> &lt; 
            <span class="info">{{life.historyStatus().back}} </span> 
        </button>
        <button ng-click="startStop()">{{timer ? "&#9647;" : "&#9655;" }}</button>
        <button ng-click="stepForward()"> &gt; </button>
    </div>

    <div class="row form-group">
        <h3>Speed</h3>
        <input type="number" 
            ng-change="speedChange()"
            ng-model="settings.delay" required />delay (msec)
    </div>

    <div class="row form-group">
        <h3>Size</h3>
        <p>
            <button ng-click="grid.delRow()">-</button>
            {{life.grid.y}} Rows
            <button ng-click="grid.addRow()">+</button>
        </p>
        <p>
            <button ng-click="grid.delCol()">-</button>
            {{life.grid.x}} Columns
            <button ng-click="grid.addCol()">+</button>
        </p>
        <p>
            Cell size <input type="number" ng-model="settings.cellSize" min="5" max="50" required />px
        </p>
    </div>

    <div class="row form-group">
        <input type="checkbox" ng-model="settings.displayNeighbors">
        Display number of neighbours
    </div>


</div>
