.alive {
    background-color: burlywood;
}

.dead {
    background-color: steelblue;
}

.die {
    background-color: #BD9664;
}

.spawn {
    background-color: #426EBA;
}

.grid-col {
    border: 1px solid;
}

body {
    margin-top: 20px;
}

input {
    width: 4em;
}

h3 {
    margin-top: 0.3em;
}

.info {
    color: silver;
}
