.cell {
	display: inline-block;
	cursor: default;
	border: 1px solid;
}


.row {}


.alive {
	background-color: burlywood;
}

.dead {
	background-color: steelblue;
}

body {
	margin-top: 20px;
}

input {
	width: 4em;
	color: black;
}

h3 {
	margin-top: 0.3em;
}

.info {
	color: silver;
}
